.desktop{
  width: 100%;
  height: 300px;
   background-color: antiquewhite;
   /* màu ưu tiên */
}
/* 900 trở về trước thì màu blue */
@media screen and (max-width: 900px) {
  .desktop{
    background-color: blue;
  }
}
/* 700 trở trước thì màu brown */
@media screen and (max-width: 700px) {
  .desktop{
    background-color: brown;
  }
}

.mobile{
  height: 300px;
  width: 100%;
  background-color: rgb(216, 89, 89);
  /* màu ưu tiên */
}

@media screen and (min-width: 400px) {
  .mobile{
    background-color: blueviolet;
  }
}
@media screen and (min-width: 700px) {
  .mobile{
    background-color: burlywood;
  }
}

