*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input::placeholder{
  font-size: 25px !important;
}

.card-me{
  position: relative !important;
}

.card-body-me{
  position: absolute !important;
  bottom: 10px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.line{
  margin: auto;
  background-color: red;
  height: 5px;
  width: 10%;
  margin-bottom: 10px;
}

.line1{
  font-family:'Times New Roman', Times, serif;
  font-weight: bold;
}

footer{
  background-color: rgba(0,44,62,255);
  padding-block: 20px;
}

footer ul li{
  margin-top: 15px;
}

.logo div{
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(0, 0, 0);
  margin-inline: 5px;
  border-radius: 50%;
  background-color: white;
}

.card-me .chose-me{
  position: absolute;
  bottom: 50px;
}

/* Ẩn 2 nút */
.card-me .chose-me{
  display: none !important;
}

/* Hiện 2 nút */
.card:hover .chose-me{
  cursor: pointer;
  display: block !important;
  text-align: center !important;
}

.card:hover button{
  margin-top: 8px!important;
}
/* Tên SP và Đơn giá ẩn */
.card:hover .card-body-me{
  display: none !important;
}
/* Ảnh mờ khi hover vào */
.card:hover .card-img-top{
  opacity: 0.5;  
  filter: alpha(opacity=100);
} 