*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.container{
  background-image: url(./anh_lab2/background-menu-2.png);
  background-size: 100% 100%;
  height: 600px;
  display: flex;
  justify-content: space-around;
  padding-top: 30px;
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a{
  text-decoration: none;
  color: black;
}

.menu2{
  display: flex;
  padding-top: 10px;
}
li{
  padding-inline: 50px;
  list-style: none;
}

.logo{
  padding-right: 100px ;
}

.nut1{
  background-color: transparent;
  border: none;
  padding-right: 10px;
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.nut2{
  background-color: transparent;
  padding: 7px;
  border-radius: 10px;
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.QU{
padding-left: 10px;
border: none;
background-color: transparent;
font-size: 20px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}