*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

center{
  padding-block: 20px;
}

a{
  text-decoration: none;
  color: black;
}

.fiorello{
  padding-block: 30px;
}

.header{
  display: flex;
  justify-content: space-between;
  width: 94%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  margin-inline: 20px;
}

.kinh{
  height: 20px;
}

.item1{
  display: flex;
  padding-left: 10px;
}

li{
  list-style: none; padding-right: 50px;
}

.menu2{
  display: flex;
}

.header .menu2 li a:hover {
  text-decoration: underline;
} 

.item2{
  display: flex;
  padding-bottom: 30px;
}

.cart{
  padding-top: 10px;
}

.muc3{
  padding-top: 30px;
  width: 1250px;
  border-radius: 20px;
}

.banner{
  width: 94%;
  height: 700px;
  background: url(anh_lab3/banner.jpg) no-repeat;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column; /* can theo chieu nao*/
  justify-content: center;
  align-items: center;
  text-align: center;
}
.banner h3{
  font-family: "Mali", cursive;
  font-weight: 600;
  font-style: normal;
  font-size: 40px;
}
.banner p{
  font-family: "Mali", cursive;
  font-weight: 200;
  font-style: normal;
  font-size: 20px;
  padding-top: 30px;
}

/*product*/
.product{
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(5, 1fr); /*Thiet lap tren 1 dong*/
  column-gap: 40px;
  text-align: center;
  padding-inline: 30px;
  position: relative;
}

.product img{
  width: 100%;
  height: 350px;
  padding: 10px;
}

.slide-img{
  width: 94%;
  height: 400px;
  background: url(./anh_lab3/pic4.png) no-repeat left bottom,
              url(./anh_lab3/pic6.png) no-repeat right top;
  background-color: #eee;
  background-size: 300px 300px;
  margin: 30px 0px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.fa-thin{
  font-size: 100px;
  color: #413d3d40;
}

.slide-img-text{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.text1{
  font-size: 30px;
  margin-bottom: 20px;
  font-family: "Mali", cursive;
  font-weight: 300;
  font-style: italic;
}

.featured{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: left;
  font-size: 20px;
  padding-left: 45px;
}

.text2{
  font-family: "Mali", cursive;
  font-weight: 200;
  font-size: 30px;
}

.new{
  background-color: white;
  border: 2px solid black;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  bottom: 85%;
  left: 4%;
}

.sold{
  background-color: white;
  border: 2px solid black;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  bottom: 85%;
  right: 13.5%;
}

.chu_hinh{
  padding-top: 20px;
  padding-inline: 30px ;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.hinh14 {
  width: 700px;
  padding-bottom: 20px;
}

.chu_hinh p{
  font-size: 20px;
}

.doan1{
  margin-bottom: 50px;
  padding-top: 50px;
  font-family: "Fondamento", cursive;
  font-weight: 400;
  font-style: normal;
}
.doan2{
  margin-bottom: 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.doan3{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.chukyc{
  padding-right: 1000px;
}

.footer{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  text-align: left;
  justify-content: space-between;
  padding-left: 200px;
  padding-block: 50px;
  background-color: rgb(202, 200, 200);
  width: 94%;
  border-radius: 15px;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 20px;
}

.footer h3{
  margin-bottom: 20px;
}
